.navbarBrandContainer {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 95px; 
    height: auto;
  }
  
  .title {
    font-size: 40px;
    margin: 0; 
    text-decoration: none;
  }
  
  .proText {
    color: #7B1FA2;
    font-weight: 600;
  }
  
  .connectText {
    color: #006400; 
  }
  

.link {
    margin-left: 30px;
    font-weight: 600;
    color: #7B1FA2;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link-hover {
    position: relative;
}

.link-hover:hover {
    color: #7B1FA2;
}

.link-hover::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #7B1FA2;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.link-hover:hover::before {
    transform: scaleX(1);
}

.link:focus{
    color: #35AC7A !important;
}

.link-hover.active {
    color: #35AC7A !important;
}

.btn-registracija {
    background-color: #caffd0;
    color: white;
    padding: 10px;
    border-radius: 10px;
    transition: 0.4s;
}

.btn-registracija:hover {
    background-color: #35AC7A;
    color: white;
}

.user-dropdown {
    background-color: #caffd0;
    color: #293241;
    border: none;
}

.user-dropdown:hover {
    background-color: #35AC7A;
    color: #caffd0;
}

.user-dropdown:focus {
    background-color: #35AC7A;
    color: #caffd0;
}

.custom-dropdown-item {
    background-color: transparent !important;
    color:#7B1FA2 !important;
}

.custom-dropdown-item:hover,
.custom-dropdown-item:focus,
.custom-dropdown-item:active {
    background-color: #35AC7A !important;
    color: #f7ebfd !important;
}

.custom-dropdown-item1 {
    background-color: transparent !important;
    color:#caffd0 !important;
}

.custom-dropdown-item1:hover,
.custom-dropdown-item1:focus,
.custom-dropdown-item1:active {
    background-color: #35AC7A !important;
    color: #f7ebfd !important;
}

.custom-dropdown-item2 {
    background-color: transparent !important;
    color:#7B1FA2 !important;
    text-decoration: none;
}

.custom-dropdown-item2:hover,
.custom-dropdown-item2:focus,
.custom-dropdown-item2:active {
    background-color: #35AC7A !important;
    color: #f7ebfd !important;
}