.linija_ispod_dugmeta{
    text-decoration: none;
}

.dugme1 {
    background-color: #43e961;
    font-size: 1.5rem; 
    padding: 1rem 2rem; 
    transition: 0.4s;
    border-color: #43e961;
}

.dugme1:hover {
    background-color: #35AC7A;
}

.slova {
    font-size: 20px;
}

.fields {
    border: 3px solid #B388FF !important;
}