*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lalezar", system-ui;
    font-weight: 400;
    font-style: normal;
}

.disabled {
    opacity: 0.6;
    pointer-events: none;
}

.cursor-pointer {
    cursor: pointer;
}


.bg-light-green {
    background-color: #caffd0;
}

.bg-lime-green {
    background-color: #65fe08;
}

.bg-green {
    background-color: #35AC7A;
}

.bg-dark-green {
    background-color: #006400;
}

.bg-light-lilac { 
    background-color: #f7ebfd;
}

.bg-lilac {
    background-color: #B388FF;
}

.bg-violet {
    background-color: #7B1FA2;
}


.text-light-green {
    color: #caffd0;
}

.text-lime-green {
    color: #65fe08;
}

.text-green {
    color: #35AC7A;
}

.text-dark-green {
    color: #006400;
}

.text-light-lilac { 
    color: #f7ebfd;
}

.text-lilac {
    color: #B388FF;
}

.text-violet {
    color: #7B1FA2;
}