.linija_ispod_dugmeta{
    text-decoration: none;
}

.dugme1 {
    background-color: #B388FF;
    font-size: 1.5rem; 
    padding: 1rem 2rem; 
    transition: 0.4s;
    font-family: "Lalezar", system-ui;
}

.dugme1:hover {
    background-color: #43e961;
}

.slova {
    font-size: 15px;
    font-family: "Lalezar", system-ui;
}

.fields {
    border: 3px solid #B388FF !important;
}

#fixInputSize{
    font-family: Lalezar;
}