.linija_ispod_dugmeta{
    text-decoration: none;
}

.dugme1 {
    background-color: #7B1FA2;
    font-size: 1.1rem;
    padding: 1rem 2rem; 
    transition: 0.4s;
}

.dugme1:hover {
    background-color: #43e961;
}

.dugme2 {
    background-color: #35AC7A;
    font-size: 1.1rem;
    padding: 1rem 2rem; 
    transition: 0.4s;
}

.dugme2:hover {
    background-color: #43e961;
}

.slova {
    font-size: 15px;
}